.background-container {
    display: grid;
    background-image: url('../../../../public/images/mainBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
}

.main-section {
    grid-row: 1; 
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; 
    height: 100%; 
    gap: 2rem; 
}

.action-div {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1rem;
    padding-bottom: 2rem;
}

.response-div {
    grid-row: 2; 
    display: flex; 
    justify-content: center;
    align-items: flex-start; 
    height: 100%; 

}

@media (max-width: 768px) {
    .background-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center; 
        height: 100vh; 
        padding-top: 0; 
        margin-top: 0; 
    }

    .main-section {
        height: auto; 
        justify-content: flex-start; 
        padding: 10px 10px; 
        gap: 1rem;
        width: 100%; 
    }

    .validation-div {
        height: auto;
        width: 100%; 
        padding: 5px;        
    }

    .action-div {
        padding-bottom: 1rem; 
    }

    .response-div {
        margin-top: 0; 
        padding-top: 1rem; 
    }
}

